.bacground{
    background: url(../image/natural-picture.1.jpg);
}
.main{
    display: flex;
}

.logo{
    color: lightcoral;
    margin-top: 0px;
    padding-left: 40px;
}

nav ul{
    margin-top: 0px;
}

nav ul li{
    display: inline;
    list-style: none;
    margin-right: 70px; 
    font-size: 20px;  
}

ul a{
    color: white;
    text-decoration: none;   
}

ul li a:hover{
    color: green;
}

.nav-bar{
    padding-top: 13px;
    margin-left: 125px;
}
.search{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin-left: 150px;
    margin-top: 2px;
    
}
.bs{
    width: 80px;
    height: 35px;
    background-color:lightcoral;
}
